* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button:hover,
a:hover {
    cursor: url(img/Vector.svg), default;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000915;

}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__heading {
        padding-top: 217px;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
    }

    &__text {
        margin-top: 32px;
        margin-bottom: 44px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;

        &_bold {
            font-weight: 600;
        }
    }

}

.button {
    width: 234px;
    height: 48px;
    background: #9C0332;
    border-radius: 30px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;

    &:hover {
        background: #EB443F;
    }
}

.content {
    background: #000915;
    padding-top: 128px;
    padding-bottom: 128px;

    &__heading {
        display: none;
    }

    border: none;
}

.game-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.game {
    position: relative;
    border: 3px solid transparent;

    &:hover {
        border: 3px solid #44D2FF;
        border-radius: 18px;
    }

    &__link {
        display: block;
        width: 378px;
        height: 300px;
    }

    &__img {
        border-radius: 18px;
        width: 378px;
        height: 300px;
    }

    &__name {
        position: absolute;
        top: 236px;
        left: 32px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
}

.footer__gameCard {
    padding-top: 234px;
    padding-bottom: 234px;
}

.gameCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        width: 590px;
        &-right {
            order: 2;
        }
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        align-items: center;
        color: #FFFFFF;

        &-none {
            display: none;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        align-items: center;
        color: #FFFFFF;
    }

    &__img-left {
        order: 1;
    }
}