@media (min-width: 1240px) {
    .center {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}

@media (max-width: 1239px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            padding-top: 238px;
            font-size: 32px;
            line-height: 39px;
            text-align: center
        }

        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 32px;
        }

        &__br {
            display: none;
        }
    }

    .game-box {
        justify-content: center;
        gap: 26px;
    }

    .game {
        position: relative;

        &__link {
            width: 343px;
        }

        &__img {
            width: 343px;
            height: 300px;
        }

        &__name {
            left: 16px;
        }

    }
}